BLUPS_par_mmer.Rdata
blups_all_wide.csv
mean_pheno.csv
result_sommer_pl_geracao_random.RDS
result_sommer_random.RDS
real_results_consolidated_10r_3f.xlsx
real_results_consolidated_5r_5f.xlsx
real_lddecay.tiff
manhattan_BM.tiff
manhattan_Prod.Cor.tiff
manhattan_Cer.tiff
